%ol.breadcrumb
  %li= link_to "Segments", segment_definitions_path
  %li.active= @segment_def.name

.span8
  .panel.panel-default
    .panel-heading
      %p 
        Segment:
        %b= @segment_def.name
        == (#{@segment_members.count})
      %p
        Any of the following events:
        - @segment_def.segment_events.each do |segment_event|
          .span.label.label-primary=segment_event.event_name
    .panel-body
      %h3 Daily new members
      = line_chart @segment_def.members.group_by_day(:entered_at).count
  .panel.panel-default
    .panel-heading
      Members
    .panel-body
      %ul.list-group
        - @segment_members.each do |identity|
          %li.list-group-item
            = link_to identity.email, identity_path(identity)
            == (identity #{identity.id})


  
