%ol.breadcrumb
  %li= link_to "Segments", segment_definitions_path
  %li.active= @segment_def.name

.span8
  .panel.panel-default
    .panel-heading
      %p 
        Segment:
        %b= @segment_def.name
        == (#{@segment_member_identities.count})
      %p
        Any of the following events:
        - @segment_def.segment_events.each do |segment_event|
          .span.label.label-primary=segment_event.event_name
      %p
        Compute time:
        - if @segment_def.compute_seconds
          = distance_of_time_in_words(@segment_def.compute_seconds)
        - else
          (unknown)
    .panel-body
      %h3 Daily new members
      = line_chart @segment_def.members.group_by_day(:entered_at).count
  .panel.panel-default
    .panel-heading
      Members
    .panel-body
      %table.table
        %tr
          %th ID
          %th Email
          %th Entered Segment
        - @segment_member_identities.each do |id_seg|
          %tr
            %td
              = id_seg.identity.id
            %td
              = link_to id_seg.identity.email, identity_path(id_seg.identity)
            %td{:title => id_seg.entered_at}
              = time_ago_in_words(id_seg.entered_at) 
              ago
      = will_paginate @segment_member_identities


  
