%ol.breadcrumb
  %li.active Events
%p.leading== #{@event_count} total
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th when
        %th Blob
    %tbody
      - @events.each do |event|
        %tr
          %td= link_to "#{time_ago_in_words(event.created_at)} ago", event_path(event.id)
          %td= event.blob
  = will_paginate @events
