%ol.breadcrumb
  %li= link_to "Identities", identities_path
  %li.active= @identity.email

.span8
  .panel.panel-default
    .panel-heading
      = image_tag(avatar_url(@identity.email), :class => "img-thumbnail")
      = @identity.email
      events (newest first)
    .panel-body
      %table.table
        %tr
          %th ID
          %th name
          %th when
          %th timestamp
        - @identity.standard_events.each do |se|
          %tr
            %td= se.id
            %td= se.name
            %td== #{time_ago_in_words(se.timestamp)} ago
            %td= se.timestamp
